@model Dotnet_Project.Models.Employee;


@section Styles {
    <link rel="stylesheet" href="~/css/Profile.css">
}

@section Navbar {
    <nav class="nav-menu">
        <a href="@Url.Action("Index", "Employee")" class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "Employee" ? "active" : "")">
            <img src="~/images/user.svg" />
            <span>Employees</span>
        </a>
        <a href="@Url.Action("Index", "Meeting")" class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "Meeting" ? "active" : "")">
            <img src="~/images/message-text.svg" />
            <span>Meetings</span>
        </a>
    </nav>
}


<div class="dashboard-container">
        
        <div class="profile-overview">
            <h2>Employee Profile</h2>
            <div class="profile-details-grid">
                @Html.Partial("_EmployeeDetails", Model)
            </div>
        </div>

        
        <div class="stats-feedback-container">
            
            <div class="stats-section">
                <h2>Statistics Overview</h2>
                @Html.Partial("_stats-grid", Model)
            </div>

            
            <div class="feedback-section">
                <h2>Manager's Feedback</h2>
                <div class="feedback-container">
                    @Html.Partial("_Feedbacks", Model.ReceivedFeedbacks)
                </div>
            </div>
        </div>
</div>