@model IEnumerable<Dotnet_Project.Models.Employee>

<div class="team-section">
    
    <table class="team-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Department</th>
                <th>Post</th>
                <th>Phone Number</th>
                <th>Evaluate</th>
            </tr>
        </thead>
        <tbody>
             @foreach (var employee in Model)
            {
                <tr>

                    <td>
                        <div class="d-flex align-items-center">
                            <img src="@employee.Image" alt="img" class="profile-img" />
                            <span>@employee.Name</span>
                        </div>
                    </td>
                    <div class="d-flex align-items-center">

                    <td>
                        <div class="d-flex align-items-center">
                            <span>@employee.Id </span>
                        </div>
                    </td>

                    <td>
                        <div class="d-flex align-items-center">
                            <span>@employee.Department </span>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <span>@employee.Post</span>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <span>@employee.Phone </span>
                        </div>
                    </td>
                    <td>
                        <a href="@Url.Action("EmployeeManagement", "Employee", new { id = employee.Id })" class="btn btn-cancel text-white">
                        Productivity
                    </a>
                    </td>
                </tr>
               
            }
        </tbody>
    </table>
</div>