
@model Dotnet_Project.Models.Employee; 

@{
    ViewData["Title"] = "EmployeeManagement";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Emp.css">
}
@section Navbar {
    <nav class="nav-menu">
        <a href="@Url.Action("Index", "Home")" class="nav-item  active">
            <img src="~/images/document-text.svg" />
            <span>Project Overview</span>
        </a>
        <a href="@Url.Action("Index", "ProjectTask")" class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "ProjectTask" ? "active" : "")">
            <img src="~/images/message-text.svg" />
            <span>Tasks & Workflow</span>
        </a>
    </nav>
}
<div class="dashboard-container ">
    <div class="dashboard">
        <div  class="profile">
            <div class="employee-section">

                <div class="profile-details-grid">
                    @Html.Partial("_EmployeeDetails", Model)
                 </div>
            </div>
           
                <div class="stat-card">
                    <div class="stat-icon">📊</div>
                    <div class="stat-content">
                        <h2 class="stat-title" >Tasks completed</h2>
                        <span >for this month</span>
                        <div class="stat-numbers">
                            <span class="number">@Model.CompletedTasks</span>
                            <span class="label">Tasks</span>
                        </div>
                    </div>
                </div>

                <div class="stat-card">
                    <div class="stat-icon">⏰</div>
                    <div class="stat-content">
                    <h2 class="stat-title">
                        Overdue tasks</h2>
                        <span>for this month</span>
                        <div class="stat-numbers">
                            <span class="number">@Model.OverdueTasks</span>
                            <span class="label">Tasks</span>
                        </div>
                    </div>
                </div>
            </div>
        <div class="task-comment" >
            <div class="tasks">
                 @Html.Partial("_TaskList", Model.Tasks) 
            </div>
            <div class="comments">
                <div class="comments-section">


                   
                    <form asp-action="Create" asp-controller="Feedback" method="post">
                        <input type="hidden" name="ReceiverId" id="ReceiverId" value="@Model.Id" />
                        <div class="comment-input">
                            <select name="WriterId" id="WriterId" label="Manager" required>
                                @foreach (var employee in ViewBag.Employees)
                                {
                                    <option value="@employee.Id">@employee.Name</option>
                                }
                            </select>
                        </div>
                        <div class="comment-input">
                            <textarea name="Description" id="Description" placeholder="Your comment here..." required></textarea>
                        </div>
                        <button type="submit" class="add-button">Add</button>
                    </form>



                    <h3 class="comment-title">Previous comments</h3>
                    @Html.Partial("_Feedbacks", Model.ReceivedFeedbacks)
                </div>
            </div>
    </div>
    </div>
</div>


