@model Dotnet_Project.Models.Project

@section Styles {
    <link rel="stylesheet" href="~/css/Project.css">
}
@{
    ViewData["ActionName"] = "EmployeeManagement";
    ViewData["ControllerName"] = "Employee";
}
@section Navbar {
    <nav class="nav-menu">
        <a href="@Url.Action("Index", "Home")" class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "active" : "")">
            <img src="~/images/document-text.svg" />
            <span>Project Overview</span>
        </a>
        <a href="@Url.Action("Index", "ProjectTask")" class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "ProjectTask" ? "active" : "")">
            <img src="~/images/message-text.svg" />
            <span>Tasks & Workflow</span>
        </a>
    </nav>
}

<div class="dashboard-container">
    <div class="dashboard">
        <div class="project-overview">
            <h2> Project details</h2>
            <div class="details-grid">
                <div class="details-section">
                    
                    @Html.Partial("_ProjectDetails", Model)

                </div>
                <div class="purpose-section" >
                    <h2>Purpose and Key Impact</h2>
                    @Html.Partial("_PurposeImpact", Model.Description)
                    
                </div>
            </div>
            <h2>Project team members</h2>
            <div class="team-section">
                @Html.Partial("_Team", Model.TeamMembers)
                
            </div>
        </div>
    </div>
</div>